---
layout: default
header: text
header-text: "CSE132 SP2016: Introduction to Computer Engineering"
header-class: site-header--narrow
---

{% include nav.html %}

<section class="site-mission">
	<h2 class="nocount">Class Information</h2>
	<p>
		CSE 132 introduces students to fundamental concepts in the basic operation of computers, from microprocessors to servers, and explores the universal similarities between all modern computing problems: how do we represent data? How do we communicate with other computers? How do processors "think"?
	</p>
	<p>
		We study inputs, outputs, and sensing; information representation; basic computer architecture and machine language; time-critical computation; intermachine communication; and protocol design.
	</p>
	<p>
		Students use both desktop systems and handheld (Arduino-compatible) microcontrollers to design and implement solutions to laboratory problems. They also participate in active-learning sessions where they work with professors and their peers to solve problems collaboratively.
	</p>
	<p>Prerequisite: CSE 131 or equivalent.</p>
</section>
	
<section class="motd">
	<h2 class="nocount">Message of the Day</h2>
	<ul class="block-list motd__list">
	{% for motd in site.data.motds limit:20 %}
		<li class="block-list__item motd__item">
			{{ motd }}
		</li>
	{% endfor %}
	</ul>
</section>

<section class="weeks-overview">
	<h2 class="nocount">Calendar</h2>
	<ul class="block-list">
		{% for week in site.weeks limit:20 %}
		<li>
			<h3 class="nocount">Week {{ week.week }}: {{ week.title }}</h3>
			<ul class="block-list block-list--inline">
				<li class="block-list__item">
					<a href="" class="button">Studio</a>
				</li>
				<li class="block-list__item">
					<a href="" class="button">Assignment</a>
				</li>
				<li class="block-list__item">
					<a href="" class="button">Guide to X</a>
				</li>
			</ul>
		</li>
		{% endfor %}
	</ul>
</section>