<nav class="site-nav">
<ul class="nav-list">
	<li>
		{% if page.url == "/" %}
		<a href="{{ BASE_PATH }}/" class="nav-list__header nav-list__item nav-list__item--current">
		{% else %}
		<a href="{{ BASE_PATH }}/" class="nav-list__header nav-list__item">
		{% endif %}
		Home</a>
	</li>
	<li class="nav-list__header">Weeks
		<ol>
			{% for week in site.weeks limit:20 %}
			<li>
				{% if page.url == week.url %}
				<a href="{{ BASE_PATH }}{{ week.url }}" class="nav-list__item nav-list__item--current">
				{% else %}
				<a href="{{ BASE_PATH }}{{ week.url }}" class="nav-list__item">
				{% endif %}
					Week {{ week.week }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	<li class="nav-list__header">Guides
		<ol>
			{% for guide in site.guides limit:20 %}
			<li>
				{% if page.url == guide.url %}
				<a href="{{ BASE_PATH }}{{ guide.url }}" class="nav-list__item nav-list__item--current">
				{% else %}
				<a href="{{ BASE_PATH }}{{ guide.url }}" class="nav-list__item">
				{% endif %}
					{{ guide.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	<li class="nav-list__header">Reference</li>
	<li class="nav-list__header">Policies</li>
</ul>
</nav>