<nav class="site-nav">
<ul class="nav-list">
	{% if page.url == "/" %}
	<li class="nav-list__item nav-list__item--current">
	{% else %}
	<li class="nav-list__item">
	{% endif %}
		<a href="{{ site.baseurl }}/">
			Home
		</a>
	</li>

	{% for node in site.pages limit:20 %}
		{% if node.layout != "null" and node.url != "/" %}
			{% assign ext = node.path | slice: -3, 3 %}
			{% if ext != "xml" and ext != "css" %}
				{% if page.url == node.url %}
				<li class="nav-list__item nav-list__item--current">
				{% else %}
				<li class="nav-list__item">
				{% endif %}
					<a href="{{ site.baseurl }}{{ node.url }}">
						{{ node.title }}
					</a>
				</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<li class="nav-list__header">Weeks
		<ol>
			{% for week in site.weeks limit:20 %}
			{% if page.url == week.url %}
			<li class="nav-list__item nav-list__item--current">
			{% else %}
			<li class="nav-list__item">
			{% endif %}
				<a href="{{ site.baseurl }}{{ week.url }}">
					{{ week.week }}: {{ week.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	<li class="nav-list__header">Guides
		<ol>
			{% for guide in site.guides limit:20 %}
			{% if page.url == guide.url %}
			<li class="nav-list__item nav-list__item--current">
			{% else %}
			<li class="nav-list__item">
			{% endif %}
				<a href="{{ site.baseurl }}{{ guide.url }}">
					{% if guide.short %}
						{{ guide.short }}
					{% else %}
						{{ guide.title }}
					{% endif %}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	<li class="nav-list__header">Reference
		<ol>
			{% for resource in site.data.resources limit:20 %}
			<li class="nav-list__item">
				<a href="{{ resource.url }}" target="blank">
					{{ resource.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
</ul>
</nav>