<nav class="site-nav">
<ul class="nav-list">
	<li>
		{% if page.url == "/" %}
		<a href="{{ BASE_PATH }}/" class="nav-list__item nav-list__item--current">
		{% else %}
		<a href="{{ BASE_PATH }}/" class="nav-list__item">
		{% endif %}
		Home</a>
	</li>

	{% for node in site.pages limit:20 %}
		{% if node.layout != "null" and node.url != "/" %}
		{% if node.placement == "top" %}
			{% if page.url == node.url %}
			<li class="nav-list__header nav-list__item nav-list__item--current">
			{% else %}
			<li class="nav-list__header nav-list__item">
			{% endif %}
				<a href="{{ BASE_PATH }}{{ node.url }}">
					{{ node.title }}
				</a>
			</li>
		{% endif %}
		{% endif %}
	{% endfor %}

	<li class="nav-list__header">Weeks
		<ol>
			{% for week in site.weeks limit:20 %}
			{% if page.url == week.url %}
			<li class="nav-list__item nav-list__item--current">
			{% else %}
			<li class="nav-list__item">
			{% endif %}
				<a href="{{ BASE_PATH }}{{ week.url }}">
					{{ week.week }}: {{ week.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	<li class="nav-list__header">Guides
		<ol>
			{% for guide in site.guides limit:20 %}
			{% if page.url == guide.url %}
			<li class="nav-list__item nav-list__item--current">
			{% else %}
			<li class="nav-list__item">
			{% endif %}
				<a href="{{ BASE_PATH }}{{ guide.url }}">
					{{ guide.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	<li class="nav-list__header">Reference
		<ol>
			{% for resource in site.data.resources limit:20 %}
			<li class="nav-list__item">
				<a href="{{ resource.url }}" target="blank">
					{{ resource.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	{% for node in site.pages limit:20 %}
		{% if node.layout != "null" and node.url != "/" %}
		{% if node.placement != "top" %}
			{% if page.url == node.url %}
			<li class="nav-list__item nav-list__item--current">
			{% else %}
			<li class="nav-list__item">
			{% endif %}
			{{node.name}}
				<a href="{{ BASE_PATH }}{{ node.url }}">
					{{ node.title }}
				</a>
			</li>
		{% endif %}
		{% endif %}
	{% endfor %}
</ul>
</nav>