$susy: (
  columns: 12,
  gutters: 1/4,
  container: 1190px,
  debug: (
    image: show,
    color: rgba(119, 113, 207, 0.40),
    output: overlay,
    toggle: top right,
  ),
);

.wrapper {
	@include container;
}