$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: split,
  container: 1190px,
  debug: (
    image: show,
    color: rgba(119, 113, 207, 0.40),
    output: overlay,
    toggle: top right,
  ),
);

.wrapper {
	@include container;
}

.container {
  @include breakpoint($break-screen) {
    display: flex;
    align-items: baseline;
  }
}

.site-nav {
  @include span(10 of 12);
  @include pre(1);

  margin-top: 1.5rem;

  @include breakpoint($break-screen) {
    @include span(2 of 12);
    @include pre(0);  
  }
}

.site-content {
  @include span(10 of 12);
  @include pre(1);

  @include breakpoint($break-screen) {
    @include span(6 of 12 nest);
    @include pre(0);
  }
}

.site-footer {
  @include span(10 of 12);
  @include pre(1);

  @include breakpoint($break-screen) {
    @include span(4);
    @include pre(8); 
  }
}