// Sanitize.css variables
$root-font-family: "Crimson Text", sans-serif;
$root-line-height: 1.6;
$root-font-size: 18px;
$root-background-color: #f8f8f8;
$root-color: #333;

// The responsive stuff
$break-screen: min-width 60rem;

// Colors :)
$link-color: #1d7aff;