.writeup {
	display: flex;
	align-items: baseline;
}

.writeup__nav {
	// display: 

	@include span(10 of 12);
	@include pre(1);

	margin-top: 1.5rem;

	@include breakpoint($break-screen) {
		@include span(2 of 12);
		@include pre(0);	
	}
}

.writeup__content {
	@include span(10 of 12);
	@include pre(1);

	@include breakpoint($break-screen) {
		@include span(6 of 12);
		@include pre(0);
	}
}